.card {
  @extend %clearfix;
  background-color: $white;
  color: $grey--light;
  margin-bottom: 12px;
  position: relative;
}

.card__overlay {
  position: absolute;
  background-color: rgba($grey--dark, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card__heading {
  color: $grey--dark;
  font-weight: 400;
}

.card__content {
  padding: 0 5px 5px;
  overflow: auto;
}

.card__timestamp {
  color: $grey--light;
  float: right;
  font-size: 10px;
}
