.card {
  @extend %clearfix;
  background-color: $white;
  color: $grey--light;
  margin-bottom: 12px;
  position: relative;
}

.card__overlay,
.card__overlay__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card__overlay {
  background-color: rgba($grey--dark, .7);
  color: $white;
  padding: 12px;
}

.card__overlay__content {
  margin: auto;
  height: 55px;
}

.card__heading {
  color: $grey--dark;
  font-weight: 400;
}

.card__content {
  padding: 0 5px 5px;
  overflow: auto;
}

.card__timestamp {
  color: $grey--light;
  float: right;
  font-size: 10px;
}

.card__overlay__section {
  width: 33%;
  float: left;

  [class^='flaticon-'] {
    &:before {
      margin-bottom: 8px;
    }
  }
}

.card__overlay__section--report {
  text-align: center;

  .flaticon-report {
    &:before {
      display: block;
      margin: 0 auto;
      font-size: 32px;
    }
  }
}

.card__overlay__social-stat {
  margin: 0 auto;
  font-size: 32px;
  text-align: center;
}
