.action-bar.fixed-top {
  z-index: 9999;
}

.main-navigation {
  width: 70%;
  position: fixed;
  top: 48px;
  bottom: 0;
  left: -100%;
  z-index: 9998;
  background-color: #eee;
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
          box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
  -webkit-transition: left .5s ease;
     -moz-transition: left .5s ease;
          transition: left .5s ease;
  &.main-navigation--open {
    left: 0;
  }
  .main-navigation__item {
    a {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid #e6e6e6;
      color: #3d3d3d;
      &:hover,
      &:focus {
        background-color: #e0e0e0;
      }
      i {
        display: inline-block;
        width: 25px;
      }
    }
  }

  .main-navigation__item--active {
    font-weight: bold;
  }

  .main-navigation__point {
    padding: 10px 15px;
    border-bottom: 1px solid #e6e6e6;
    color: #ccc;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    strong {
      display: block;
      color: #4f4f4f;
      font-size: 40px;
      line-height: 45px;
    }
  }
}

.filter-menu {
  width: 60%;
  position: fixed;
  top: 48px;
  bottom: 0;
  right: 0;
  z-index: 9998;
  background: white;
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
          box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
  color: black;
  padding-left: 10px;

  li {
    display: block !important;
    padding: 2px;
  }

  p {
    margin: 10px 0 0;
  }

  input {
    margin-right: 10px;
  }

  label {
    width: 50%;
    display: inline-block;
  }
}
