%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

$brand: #962121;
$grey--dark: #363636;
$grey--medium: #424242;
$grey--light: #b0b0b0;
$almost--white: #eee;
$white: #fff;

@font-face {
  font-family: 'icomoon';
  src: url('/build/fonts/icomoon.eot');
  src: url('/build/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/build/fonts/icomoon.woff') format('woff'), url('/build/fonts/icomoon.ttf') format('truetype'), url('/build/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.action-bar {
  background-color: $brand;
  border-bottom: 0;
  box-shadow: none;
}

.page {
  background-color: $almost--white;
}

.main-heading {
  color: $grey--dark;
  font-weight: 400;
}

.component-heading {
  border-bottom: 2px solid $brand;
  color: $brand;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.list {
  > li {
    border-top: 1px solid $grey--light;
    color: $grey--dark;

    &.list-item-two-lines {
      .list-heading {
        color: $grey--dark;
      }

      .list-subheading {
        color: $grey--light;
      }
    }

    &:first-of-type {
      border-top: 0;
    }
  }
}

.list-heading,
.list-subheading {
  line-height: 1;
}

.list-heading,
.card__heading {
  font-size: 16px;
}

.list-subheading,
.card__subheading {
  font-size: 14px;
  font-weight: 300;
}

.tbb-icon {
  height: 32px;
  margin-right: 6px;
  width: 32px;
}

img {
  max-width: 100%;
}

.card {
  @extend %clearfix;
  background-color: $white;
  color: $grey--light;
  margin-bottom: 12px;
}

.card__heading {
  color: $grey--dark;
  font-weight: 400;
}

.card__content {
  padding: 0 5px 5px;
  overflow: auto;
}

.card__timestamp {
  color: $grey--light;
  float: right;
  font-size: 10px;
}

.toggle-spinner {
  .icon-new {
    font-size: 32px;
    color: $white;
  }
}

.action-overflow-list {
  display: block;
  position: absolute;
  right: 10px;
  left: 200px;
  background-color: $almost--white;
}

.spinner {
  li {
    a {
      color: $grey--dark;
    }
  }
}

.menu-toggle {
  display: inline-block;
  overflow: auto;
}

.component {
  position: relative;
}

.tap-map {
  width: 100%;
  height: 560px;
}

.tap-map {
  color: $grey--dark;
}
