$brand: #962121;
$grey--dark: #363636;
$grey--medium: #424242;
$grey--light: #b0b0b0;

@font-face {
  font-family: 'icomoon';
  src: url('/build/fonts/icomoon.eot');
  src: url('/build/fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('/build/fonts/icomoon.woff') format('woff'), url('/build/fonts/icomoon.ttf') format('truetype'), url('/build/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.action-bar {
  background-color: $brand;
  border-bottom: 0;
  box-shadow: none;
}

.page {
  background-color: #eee;
}

.main-heading {
  color: $grey--dark;
  font-weight: 400;
}

.component-heading {
  border-bottom: 2px solid $brand;
  color: $brand;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.list {
  > li {
    border-top: 1px solid $grey--light;
    color: $grey--dark;

    &.list-item-two-lines {
      .list-heading,
      .list-subheading {
        color: $grey--dark;
      }
    }

    &:first-of-type {
      border-top: 0;
    }
  }
}

.list-heading {
  font-size: 16px;
}

.list-subheading {
  font-size: 14px;
}

.tbb-icon {
  height: 32px;
  margin-right: 6px;
  width: 32px;
}
